<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Control de visitantes</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="layout">

    <div class="espacio-blanco"></div>

    <header>
      Control de visitantes
      <img src="/images/logo.png" alt="logo" height="60" class="logo">
    </header>

    <main class="container">
        <h2>Seleccione una opción</h2>

        <div class="botones-menu">
            <a href="/autorizacion" class="btn-primary">Autorización de visitantes</a>
            <a href="/registro" class="btn-primary">Registrar visitante</a>
        </div>
    </main>

    <footer>
      dabs 2025 - info@dabs.com
    </footer>

</body>
</html>
